
.App{
    max-width: 1024px;
    margin: 0 auto;

}
.masonry { /* Masonry container */
    column-width: 140px;
    /* maximum amount of columns */
    column-count: 3;
    /* gap between the columns */
    column-gap: -16px;
}
.item{
    break-inside: avoid-column;

}

@media only screen and (max-width: 768px) {
    .masonry  {
        width: 100%;
        margin: 0 auto;
        column-count: 1;
    }
}
